******************************************************
*                                                    *
* DRILL TAPE SUMMARY REPORT                          *
*                                                    *
* E:\ANALOGEFFECTS\HW\SCHEMATIC\NEW\DESIGN_II-2.MAX  *
* Wed Jan 24 09:20:13 2018                           *
*                                                    *
******************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      137      200      100                                                                                 
T2       340      32       200      100                                                                                 
T3       370      118      200      100                                                                                 
T4       590      102      200      100                                                                                 
T5       1000     4        200      100                                                                                 
T6       1181     3        200      100                                                                                 
T7       1900     4        200      100                                                                                 
