********************************************
*                                          *
* DRILL TAPE SUMMARY REPORT                *
*                                          *
* E:\ANALOG FX\NEW\MASTER SCHEMATIC-9.MAX  *
* Tue Sep 26 18:41:03 2017                 *
*                                          *
********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       320      151      200      100                                                                                 
T2       340      32       200      100                                                                                 
T3       370      118      200      100                                                                                 
T4       590      102      200      100                                                                                 
T5       1000     4        200      100                                                                                 
T6       1100     4        200      100                                                                                 
T7       1181     3        200      100                                                                                 
