******************************
*                            *
* DRILL TAPE SUMMARY REPORT  *
*                            *
* H:\NEW\MINIPB-1.MAX        *
* Tue Oct 31 20:52:39 2017   *
*                            *
******************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      15       200      100                                                                                 
T2       370      26       200      100                                                                                 
T3       394      24       200      100                                                                                 
